//SASS PAGE
$base-color: #c6538c;
$blac-color:#212121;
$red: #ff0006;
$blue:#003464;
$yellow:#ff9922;
$back-opacity: rgb(0, 0, 0,.9);
$white-kolor: #fff;
$white-opacity:#f9f9f9;
$white-black:#f7f7f7;


.chiffer{
    width: 90%;
    margin: auto;
    // background: $red;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

    .chif{
        color: $white-kolor;
        // background: $blue;
        margin-top: 100px;
        margin-bottom: 10px;
        h2{
            font-size: 16px;
        }
        p{
            font-weight: 600;
            font-size: 12px;
            color: gray;
        }
         
    }
}

@media screen and (max-width:600px){
    .chiffer{
        width: 98%;
        // height: 500px;
        margin: auto;
        // background: $red;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 4px;
    
        .chif{
            color: $white-kolor;
            // background: $blue;
            margin-top: 20px;
            margin-bottom: 3px;
            // height: 120px;
            h2{
                font-size: 17px;
                margin: 10px;
            }
            p{
                font-weight: 600;
                margin: 10px;
                font-size: 11px;
            }
            span{
                font-size: 13px;
                margin: 14px;
                padding-bottom: 20px;
            }
        }
    }
}